@font-face {
    font-family: pixel;
    src: url('font.ttf');
}
body{
    overflow: hidden;
    font-family: 'pixel';
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}